<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <select id="insertUser" resultType="User">
        INSERT INTO USER (name, age)
        values (#{name}, #{age})
    </select>

    <select id="getUser" resultType="User">
        SELECT *
        FROM USER
        WHERE ID = #{id}
    </select>

    <update id="updateUser" parameterType="User">
        UPDATE USER
        SET name = #{name},
            age  = #{age}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser">
        DELETE
        FROM USER
        where id = #{id}
    </delete>

</mapper>

