<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <resultMap id="userResultMap" type="User">
        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <!-- 关联嵌套结果 -->
        <association property="role" javaType="Role">
            <id property="id" column="r_id"/>
            <result property="roleName" column="role_name"/>
            <result property="description" column="role_description"/>
        </association>
        <!-- 集合嵌套结果 -->
        <collection property="permissions" ofType="Permission">
            <id property="id" column="p_id"/>
            <result property="perName" column="per_name"/>
            <result property="description" column="per_description"/>
        </collection>
    </resultMap>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="User">
        INSERT INTO t_user (account,password,name,age,address,create_time)
        values (#{account}, #{password},#{name},#{age},#{address},NOW())
    </insert>

    <!--    <select id="queryUserById" resultType="User">-->
    <!--        select *-->
    <!--        from t_user-->
    <!--        left join t_user_role on t_user_role.u_id = t_user.id-->
    <!--        left join t_role on t_role.r_id = t_user_role.r_id-->
    <!--        left join t_role_permission on t_role_permission.r_id = t_role.r_id-->
    <!--        left join t_permission on t_permission.p_id = t_role_permission.r_id-->
    <!--        where t_user.id = #{id}-->
    <!--        group by t_user.id-->
    <!--    </select>-->

    <select id="queryUserById" resultMap="userResultMap">
        select t_user.id,t_user.account,t_user.name,t_user.address,t_user.age,t_user.create_time,t_user.update_time,
        t_role.r_id,t_role.name role_name,t_role.description role_description,
        t_permission.p_id,t_permission.name per_name,t_permission.description per_description
        from t_user
        left join t_user_role on t_user_role.u_id = t_user.id
        left join t_role on t_role.r_id = t_user_role.r_id
        left join t_role_permission on t_role_permission.r_id = t_role.r_id
        left join t_permission on t_permission.p_id = t_role_permission.p_id
        where t_user.id = #{id}
    </select>

    <select id="queryAllUser" resultMap="userResultMap">
        select t_user.id,t_user.account,t_user.name,t_user.address,t_user.age,t_user.create_time,t_user.update_time,
        t_role.r_id,t_role.name role_name,t_role.description role_description,
        t_permission.p_id,t_permission.name per_name,t_permission.description per_description
        from t_user
        left join t_user_role on t_user_role.u_id = t_user.id
        left join t_role on t_role.r_id = t_user_role.r_id
        left join t_role_permission on t_role_permission.r_id = t_role.r_id
        left join t_permission on t_permission.p_id = t_role_permission.p_id
    </select>

    <select id="queryUserByAccount" resultType="User">
        SELECT *
        FROM t_user
        WHERE account = #{account}
    </select>

    <update id="updateUser">
        UPDATE t_user
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="age != null">age = #{age},</if>
            <if test="address != null">address = #{address},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteUserById">
        DELETE
        FROM t_user
        where id = #{id}
    </delete>

    <!--    <select id="queryUser" resultType="User">-->
    <!--        SELECT *-->
    <!--        FROM t_user-->
    <!--        WHERE id = #{id}-->
    <!--    </select>-->

    <!--    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">-->
    <!--        INSERT INTO t_user (name, password)-->
    <!--        values (#{userName}, #{password})-->
    <!--    </insert>-->

    <!--    <insert id="insertUsers" useGeneratedKeys="true" keyProperty="id">-->
    <!--        INSERT INTO t_user (name, password)-->
    <!--        values-->
    <!--        <foreach item="item" collection="list" separator=",">-->
    <!--            (#{item.name}, #{item.password})-->
    <!--        </foreach>-->
    <!--    </insert>-->

    <!--    <select id="queryUser" resultType="User">-->
    <!--        SELECT *-->
    <!--        FROM t_user-->
    <!--        WHERE id = #{id}-->
    <!--    </select>-->

    <!--    <update id="updateUser" parameterType="User">-->
    <!--        UPDATE t_user-->
    <!--        SET name     = #{name},-->
    <!--            password = #{password}-->
    <!--        WHERE id = #{id}-->
    <!--    </update>-->

    <!--    <delete id="deleteUser">-->
    <!--        DELETE-->
    <!--        FROM t_user-->
    <!--        where id = #{id}-->
    <!--    </delete>-->

    <!--    <select id="getUserByUsername" resultType="User">-->
    <!--        SELECT *-->
    <!--        FROM t_user-->
    <!--        WHERE name = #{userName}-->
    <!--    </select>-->

</mapper>

